body {
    background: rgb(20,20,20);
    color: white;
}
.Top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.Right {
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 5px;
}
.Right img {
    width: 30px;
}
.Left img {
    width: 25px;
}
.Left a {
    background: #522020;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 10px 0 0 10px;
    color: white;
    gap: 5px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
}
.Left a:hover {
    background: #402020;
}
.Page img {
    border-radius: 20px;
    width: 95%;
}
.IBox {
    text-align: center;
}
.About {
    font-size: 100%;
    padding-right: 12%;
}
.AdGuard-Download {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
}
.AdGuard-Download a {
    text-decoration: none;
    color: green;
}
.AdGuard-Download a:hover {
    text-decoration: underline;
}
.AdGuard-Download img {
    width: 25px;
}
.AdGuard-Code h2 {
    border-right: 5px solid #8e7500;
    padding-right: 5px;
}
.Code {
    border: 2px solid green;
    background: rgb(70,80,70);
    border-radius: 20px;
    padding: 0 10px;
    width: 345px;
    margin-bottom: 10px;
    overflow-wrap: anywhere;
}
.AdGuard {
    background: #303030;
    padding: 10px 10px 10px 0;
    border-radius: 20px;
    width: 98%;
    overflow-x: auto;
    scrollbar-width: none;
}
.AdGuard-Way {
    display: flex;
    gap: 10px;
}
.AdGuard-Way:after {
    content: "";
    flex: 0 0 1px;
}
.Way h3 {
    background: rgb(60,100,60);
    border-radius: 0 0 20px 20px;
    padding: 10px 10px 10px 0;
    text-align: center;
    margin: 0;
}
.Way img {
    width: 200px;
    border-radius: 20px 20px 0 0;
    display: block;
}
.Contact {
    margin-top: 10px;
    padding: 0 10px 0 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.Contact img {
    width: 25px;
}
